body {
  padding: 75px;
  text-align: center;
  list-style: inside;
  background-color: lightgreen;
  color: purple;
  font-family: Tahoma, sans-serif;
}

ul {
  line-height: 25px;
}

.column {
  float: right;
  border: 3px orange;
}

p {
  font-family: "Times New Roman", Times, serif;
  color: blue;
  font-size: 15px;
}

.highlight {
  color: red;
}

h1 {
  font-weight: bold;
}

h3 {
  font-style: italic;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}