body {
  padding: 75px;
  text-align: center;
  list-style: inside;
  background-color: lightgreen;
  color: purple;
  font-family: Tahoma, sans-serif;
}

ul {
  line-height: 25px;
}

.column {
  float: right;
  border: 3px orange;
}

p {
  font-family: "Times New Roman", Times, serif;
  color: blue;
}

.highlight {
  color: red;
}